*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  max-height: 80vwh;
  max-width: 100%;
}

/* nav design */
nav{
  background-color: black;
  color: white;
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

/* adding effect to ul*/
ul{
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    justify-content: center;
    list-style-type: none;
}

/* adding effect to div */
ul div{
  padding: 10px;
  border: 0.5px solid grey;
  margin: 20px;
}

/* making image in center */
img{
width: 100%;
}

/*style for the title */
h2 , h4{
padding: 7px;
text-align: center;
}

/* effect for all button  */
button{
  border-radius: 7px;
  background-color: blue;
  color: white;
  padding: 10px;
  font-size: 15px;
  overflow: hidden;
}

/* effect button inside div */
ul div button{
margin: auto;
display: block;
}

/*for the whole container  */
.container{
  padding: 20px;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    background-color: black; /* Fallback color */
    color: white;
  }

.modal .cancel{
  background-color: white;
  font-weight: bolder;
  color: grey;
  width: 4%;
  float: left;
  font-size: 15px;
  align-items: flex-start;
  border-style: none;
}
.modal h1{
  width: 50%;
}

.imageStore{

}
